@if (loading) {
  <div class="text-center mt-5">
    <mat-spinner></mat-spinner>
  </div>
}

@if (!loading && user) {
  <div class="container mt-4">
    <div class="card p-4 shadow-sm">

      <h3 class="mb-3 text-center">User Details</h3>

      <p><b>Name:</b> {{ user.name }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><b>Phone:</b> {{ user.phone }}</p>
      <p><b>Address:</b> {{ user.address }}</p>
      <p><b>State:</b> {{ user.state }}</p>
      <p><b>City:</b> {{ user.city }}</p>

      <hr>

      <p><b>Bank Name:</b> {{ user.bankname }}</p>
      <p><b>Account Holder:</b> {{ user.accountHolder }}</p>
      <p><b>IFSC:</b> {{ user.ifscCode }}</p>

    </div>
  </div>
}
